---
import Layout from "../../components/Layout.astro";
---

<Layout>
  <h1>Admin Panel</h1>
  <button id="startButton">Start Game</button>

  <script>
    import { connect } from "../../util/partykitClient";

    const startButton = document.getElementById("startButton");
    const teams = ["team-1", "team-2", "team-3", "team-4"];

    startButton!.addEventListener("click", () => {
      teams.forEach((team) => {
        const connection = connect(team);
        connection.send("start");
      });
      // alert("Game started for all teams!");
    });
  </script>
</Layout>
