---
import Layout from "../../components/Layout.astro";
---

<Layout>
  <div id="status">Waiting to start</div>

  <script>
    import { connect } from "../../util/partykitClient";

    const teamName = `team-${window.location.pathname.split("/").pop()}`;
    const connection = connect(teamName);

    connection.addEventListener("message", (event) => {
      console.dir({ event });
      if (event.data === "start") {
        alert("hi");
        document.getElementById("status")!.textContent = "Game started!";
      }
    });
  </script>
</Layout>
